.flip-180 {
  -webkit-animation: flip-180 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: flip-180 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.chevron-rotate-180 {
  display: inline-flex;
  transition: transform 0.3s ease;
}

.chevron-rotate-180.is-open {
  transform: rotate(180deg);
}

.chevron-rotate-90 {
  display: inline-flex;
  transition: transform 0.3s ease;
}

.chevron-rotate-90.is-open {
  transform: rotate(90deg);
}

.navbar-brand > span:hover,
.footer-brand > span:hover {
  transform: rotate(-3deg) scale(1.1);
	transition: transform 0.2s ease;
}

/* --- KEYFRAMES --- */

@-webkit-keyframes flip-180 {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}
@keyframes flip-180 {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}