.login-card {
  background: rgba(26, 29, 32, 0.9) !important;
  backdrop-filter: blur(4.9px) !important;
  -webkit-backdrop-filter: blur(4.9px) !important;
}

.bg-toast {
  background: #2c0b0e !important;
  backdrop-filter: blur(4.9px) !important;
  -webkit-backdrop-filter: blur(4.9px) !important;
  color: #ea868f !important;
  border-color: #842029 !important;
}
