@use "variables" as *;

.btn:disabled {
  pointer-events: all !important;
  color: black !important;
  cursor: not-allowed !important;
  &:active {
    color: black !important;
  }
}

.navbar .btn-link:hover {
  background-color: transparent !important;
  border: none !important;
}

.sidebar .btn:hover {
  background-color: transparent !important;
  border: none !important;
}

.dropdown-toggle.btn:hover {
  background-color: transparent !important;
  border: none !important;
}

#dropdown-split-basic:hover {
  background-color: $primary-hover !important;
  border: solid 1px $primary-hover !important;
}

#dropdown-split-basic.show {
  background-color: $primary-active !important;
  border: solid 1px $primary-active !important;
}

.btn-file {
  max-height: 36px;
}

.btn-primary {
  &:hover {
    background-color: $primary-hover !important;
    border-color: $primary-hover !important;
  }
  &:active {
    background-color: $primary-active !important;
    border-color: $primary-active !important;
  }
}

.btn-secondary {
  background-color: var(--color-secondary) !important;
  &:hover {
    background-color: $secondary-hover !important;
    border-color: $secondary-hover !important;
  }
  &:active {
    background-color: $secondary-active !important;
    border-color: $secondary-active !important;
  }
}

.btn-outline {
  &:hover {
    background-color: $primary-hover !important;
    border-color: $primary-hover !important;
    color: $light !important;
  }
  &:active {
    background-color: $primary-active !important;
    border-color: $primary-active !important;
    color: $light !important;
  }
}

.btn-transparent {
  background-color: transparent !important;
  border: none !important;
  text-decoration: none !important;
  &:hover {
    background-color: transparent !important;
    border-color: transparent !important;
  }
  &:active {
    background-color: transparent !important;
    border-color: transparent !important;
  }
}

.btn-outline-primary {
  &:hover {
    color: $light !important;
  }
  &:active {
    color: $light !important;
  }
}

.btn-outline-warning {
  &:hover {
    color: $light !important;
  }
  &:active {
    color: $light !important;
  }
}