.btn:hover {
  &:active {
    color: $light !important;
    background-color: $primary !important;
    border-color: $primary !important;
  }
  color: $light !important;
  background-color: $primary !important;
  border-color: $primary !important;
}

.navbar .btn-link:hover {
  background-color: transparent !important;
  border: none !important;
}

.sidebar .btn:hover {
  background-color: transparent !important;
  border: none !important;
}

.dropdown-toggle.btn:hover {
  background-color: transparent !important;
  border: none !important;
}
