.btn:hover {
  &:active {
    color: $light !important;
    background-color: $primary !important;
    border-color: $primary !important;
  }
  color: $light !important;
  background-color: $primary !important;
  border-color: $primary !important;
}

