@import "./variables.scss";

.discord-icon {
  color: #5865f2;
}

.tiktok-icon {
  color: #fe2c55;
}

.tmp-icon {
  color: #ac2925;
}

.input:focus {
  border-color: $primary !important;
  box-shadow: none !important;
  outline: none !important;
}

.text-gray {
  color: gray;
}
