@use "variables" as *;

:root {
  --sidebar-collapsed-width: 4.5rem;
  --sidebar-expanded-width: 16.25rem;
}

.sidebar-collapsed {
  width: var(--sidebar-collapsed-width);
}

.sidebar-expanded {
  width: var(--sidebar-expanded-width);
}

.dashboard-expanded {
  width: calc(100% - var(--sidebar-collapsed-width)) !important;
}

.dashboard-collapsed {
  width: calc(100% - var(--sidebar-expanded-width)) !important;
}

.flip {
  transform: scaleX(-1)
}

.sidebar .nav-item .nav-link:hover,
.sidebar .nav-item #dashboard-collapse-menu li:hover {
  background-color: var(--color-gray-darker);
  color: $light !important;
}

.sidebar .nav-item #dashboard-collapse-menu li a:hover {
  color: $light !important;
}

.sidebar .nav-item .nav-link.active {
  background-color: $primary-active;
  color: $light !important;
}

.profile-dropdown .dropdown-item:hover {
  background-color: $primary;
  color: $light !important;
}

.profile-dropdown .dropdown-toggle::after {
  content: none;
}

.breadcrumb-item > a {
  // text-decoration: none;
  font-weight: 600 !important;
  color: $primary;
  &:hover {
    color: $primary-hover;
  }
  &:active {
    color: $primary-active;
  }
}