@import "./variables.scss";

.table-card-scroll {
  width: 100%;
  max-width: 75vw;
  overflow-x: auto;
  overflow-y: hidden;
}

.table {
  white-space: nowrap;
  min-width: 1595px;
}

.pagination-div .btn-pagination:disabled {
  background-color: transparent !important;
  border-color: transparent !important;
}

.btn-pagination {
  height: fit-content !important;
}

.page-link:hover {
  color: $light !important;
}

.table-card-scroll::-webkit-scrollbar {
  width: 10px;
}

.table-card-scroll::-webkit-scrollbar-track {
  background: rgba($light, 0.3);
}

.table-card-scroll::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 0;
}

.drivershub {
  min-height: calc(100vh - 76px);
}

.btn-close {
  padding: 0.8rem 1rem !important;
  box-shadow: none !important;
}

.border-custom {
  border-style: dashed !important;
}

