@use "variables" as *;

.react-icons {
  font-size: 3rem;
}

.bg-discord {
  background-color: #5865f2;
}

.bg-tiktok {
  background-color: #fe2c55;
}

.bg-tmp {
  background-color: #ac2925;
}

.bg-instagram {
  background-color: #e1306c;
}