@use "variables" as *;
@use "buttons";
@use "icons";
@use "animations";
@use "input";
@use "theme";

@font-face {
  font-family: "Freestyle Script";
  src: url("../../public/assets/fonts/freestyle-script/FREESCPT.TTF") format("truetype");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

:root {
  --height-navbar: 76px;
}

@media (max-width: 992px) {
  :root {
    --height-navbar: 77px;
  }
}

@media (max-width: 576px) {
  :root {
    --height-navbar: 67px;
  }
}

.font-freestyle {
  font-family: "Freestyle Script" !important;
}

body {
  font-family: "Nunito" !important;
  transition: background-color 0.3s, color 0.3s;
}

body,
a {
  font-weight: 500 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700 !important;
}

.banner-img {
  height: calc(100vh - var(--height-navbar));
}

.bg-dark-darker {
  background-color: $dark-darker !important;
}

.bg-dark-lighter {
  background-color: $dark-lighter !important;
}

.border-dark-darker {
  border-color: $dark-darker !important;
}

main {
  min-height: calc(100vh - var(--height-navbar));
}

[data-bs-theme="light"] {
  .main {
    background: url(/assets/images/light/auth-banner.jpg);
    background-size: cover;
    background-position: center;
  }
}

[data-bs-theme="dark"] {
  .main {
    background: url(/assets/images/dark/auth-banner.jpg);
    background-size: cover;
    background-position: center;
  }
}

.main > section {
  min-height: calc(100vh - var(--height-navbar));
}

.text-gray {
  color: gray !important;
}

.text-primary-emphasis {
  color: #66c2b6 !important;
}

.text-secondary-emphasis {
  color: #688984 !important;
}