@use 'variables' as *;

.discord-icon {
  color: $discord;
}

.discord-bg {
  background-color: $discord;
  &:hover {
    background-color: shift-color($discord, -20%);
  }
}

.tiktok-icon {
  color: $tiktok;
}

.tiktok-bg {
  background-color: $tiktok;
  &:hover {
    background-color: shift-color($tiktok, -20%);
  }
}

.truckersmp-icon {
  color: $truckersmp;
}

.truckersmp-bg {
  background-color: $truckersmp;
  &:hover {
    background-color: shift-color($truckersmp, -20%);
  }
}

.instagram-icon {
  color: $instagram;
}

.instagram-bg {
  background-color: $instagram;
  &:hover {
    background-color: shift-color($instagram, -20%);
  }
}

.react-icons {
  font-size: 3rem;
}