@import "./variables.scss";

.login-card {
  background: rgba(26, 29, 32, 0.9);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
}

.main-login {
  background: url(/assets/images/banner-3.jpg);
  background-size: cover;
}

.main-login > section {
  height: calc(100vh - 76px);
}
