@import "./variables.scss";

.navbar-nav .active {
  border-bottom: solid 2px $primary !important;
  @media (min-width: 1200px) {
    padding: 0 !important;
  }
}

.navbar-nav:first-child .nav-link {
  @media (min-width: 1200px) {
    padding: 0 0 2px 0 !important;

    &:hover {
      border-bottom: solid 2px $light;
      padding: 0 !important;
    }
  }
}

@media (max-width: 992px) {
  #main-navbar > .navbar-nav .nav-link {
    background-color: #373737;
    border-radius: 0.25rem;
  }
}

.navbar-toggler {
  box-shadow: none !important;
  border: none !important;
}

@media (max-width: 991px) {
  #main-navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #212529;
    z-index: 9999;
  }

  .navbar-collapse.collapse:not(.show) {
    display: none !important;
  }

  .navbar-collapse.show {
    display: block !important;
  }

  header {
    position: relative;
  }
}

