@import "./variables.scss";

#main-navbar > .navbar-nav > .active {
  border-bottom: solid 2px $primary !important;
  @media (min-width: 1200px) {
    padding: 0 !important;
  }
}

.navbar-nav:first-child .nav-link {
  @media (min-width: 1200px) {
    padding: 0 0 2px 0;

    &:hover {
      border-bottom: solid 2px $light;
      padding: 0;
    }
  }

  @media (max-width: 992px) {
    padding: 1rem 0;
  }
}

@media (max-width: 992px) {
  #main-navbar > .navbar-nav .nav-link {
    background-color: #373737;
    border-radius: 0.25rem;
  }

  .nav-buttons a[role="button"] {
    width: fit-content !important;
  }
}

.navbar-toggler {
  box-shadow: none !important;
  border: none !important;
}

@media (max-width: 991px) {
  #main-navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #212529;
    z-index: 9999;
  }

  .navbar-collapse.collapse:not(.show) {
    display: none !important;
  }

  .navbar-collapse.show {
    display: block !important;
  }

  header {
    position: relative;
  }
}

#dropdown-lang {
  background: transparent !important;
}
