@use "variables" as *;

.navbar {
  max-height: var(--height-navbar);
}

@media (max-width: 992px) {
  .nav-buttons a[role="button"] {
    width: 100% !important;
  }
}

.navbar-toggler {
  box-shadow: none !important;
  border: none !important;
}

@media (max-width: 991px) {
  #main-navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--color-surface);
    // z-index: 9999;
  }

  .navbar-collapse.collapse:not(.show) {
    display: none !important;
  }

  .navbar-collapse.show {
    display: block !important;
  }

  header {
    position: relative;
  }
}

#dropdown-lang {
  background: transparent !important;
}

#lang-dropdown .dropdown-item:first-child {
  border-top-left-radius: var(--bs-border-radius-sm) !important;
  border-top-right-radius: var(--bs-border-radius-sm) !important;
}

#lang-dropdown .dropdown-item:last-child {
  border-bottom-left-radius: var(--bs-border-radius-sm) !important;
  border-bottom-right-radius: var(--bs-border-radius-sm) !important;
}

#lang-dropdown .dropdown-item.active {
  font-weight: bold !important;
}

.rotate-90 {
  transform: rotate(90deg);
}

#theme-switcher .dropdown-item:first-child {
  border-top-left-radius: var(--bs-border-radius-sm) !important;
  border-top-right-radius: var(--bs-border-radius-sm) !important;
}

#theme-switcher .dropdown-item:last-child {
  border-bottom-left-radius: var(--bs-border-radius-sm) !important;
  border-bottom-right-radius: var(--bs-border-radius-sm) !important;
  padding-left: 14px !important;
}

#theme-switcher .dropdown-item.active {
  font-weight: bold !important;
}

#lang-dropdown .dropdown-toggle::after,
#theme-switcher .dropdown-toggle::after {
  content: none;
}