@import "./variables.scss";

.active {
  border-bottom: solid 2px $primary !important;
}

.navbar-nav:first-child .nav-link {
  border-bottom: solid 2px none;

  &:hover {
    border-bottom: solid 2px $light;
  }
}
