@import "./variables.scss";

.active {
  border-bottom: solid 2px $primary !important;
}

.navbar-nav:first-child .nav-link {
  border-bottom: solid 2px none;

  &:hover {
    border-bottom: solid 2px $light;
  }
}

@media (max-width: 992px) {
  #main-navbar > .navbar-nav .nav-link {
    background-color: #373737;
    border-radius: 0.25rem;
  }
}

.navbar-toggler {
  box-shadow: none !important;
  border: none !important;
}

