@import "./variables.scss";

.founder {
  color: #009a86;
}

.ceo {
  color: #ffdd00;
}

.cao {
  color: #00f867;
}

.coo {
  color: #00e1ff;
}

.cm {
  color: #ff0e0e;
}

.hrd,
.hr {
  color: #05493a;
}

.rtd,
.rt {
  color: #ff00a1;
}

.etm,
.et {
  color: #0ba500;
}

.mtm,
.mt {
  color: #dd00ff;
}

.ccm,
.cc {
  color: #ccff00;
}
