.founder {
  color: #009a86;
}

.ceo {
  color: #ffdd00;
}

.cao {
  color: #00f867;
}

.coo {
  color: #00e1ff;
}

.cm {
  color: #ff0e0e;
}

.hrd,
.hr {
  color: #05493a;
}

.rtd,
.rt {
  color: #ff00a1;
}

.etm,
.et {
  color: #0ba500;
}

.mtm,
.mt {
  color: #dd00ff;
}

.ccm,
.cc {
  color: #ccff00;
}

.bg-founder {
  background: #009a86;
}

.bg-ceo {
  background: #ffdd00;
  color: black;
}

.bg-cao {
  background: #00f867;
}

.bg-coo {
  background: #00e1ff;
}

.bg-cm {
  background: #ff0e0e;
}

.bg-hrd,
.bg-hr {
  background: #05493a;
}

.bg-rtd,
.bg-rt {
  background: #ff00a1;
}

.bg-etm,
.bg-et {
  background: #0ba500;
}

.bg-mtm,
.bg-mt {
  background: #dd00ff;
}

.bg-ccm,
.bg-cc {
  background: #ccff00;
  color: black;
}

