@use "variables" as *;

:root,
[data-bs-theme="light"] {
  --color-surface: #f5f5f5;
  --color-surface-lighter: #fafafa;
  --color-surface-darker: #e5e5e5;
  --color-text: #212529;
  --color-primary: #009a86;
  --color-secondary: #045144;
  --color-gray: #b8b3bd;
  --color-gray-darker: #6e6e6e;
}

[data-bs-theme="dark"] {  
  --color-surface: #212529;
  --color-surface-lighter: #343a40;
  --color-surface-darker: #121416;
  --color-text: #f5f5f5;
  --color-primary: #009a86;
  --color-secondary: #043b32;
  --color-gray: gray;
  --color-gray-darker: #5a5a5a;
}

.bg-surface {
  background-color: var(--color-surface) !important;
}

.bg-surface-lighter {
  background-color: var(--color-surface-lighter) !important;
}

.bg-surface-darker {
  background-color: var(--color-surface-darker) !important;
}

.text-theme {
  color: var(--color-text) !important;
}

.bg-muted {
  background-color: var(--color-gray) !important;
}

.bg-gray {
  background-color: gray !important;
}

.text-placeholder {
  color: var(--color-gray-darker) !important;
}

.text-gray {
  color: var(--color-gray) !important;
}

.border-surface {
  border-color: var(--color-surface) !important;
}