$primary: #009a86;
// $primary-hover: #008075;
$primary-hover: #00b39c;
// $primary-active: #007068;
$primary-active: #00806f;
// $primary-emphasis: #66c2b6;
$primary-emphasis: #ffb03a;
$secondary: #043b32;
// $secondary-hover: #032f29;
$secondary-hover: #075c4e;
// $secondary-active: #02241f;
$secondary-active: #02241e;
// $secondary-emphasis: #688984;
$secondary-emphasis: #e29578;
$light-lighter: #fafafa;
// $light: #f2f8f7;
$light: #f5f5f5;
$light-darker: #e5e5e5;
$gray: gray;
$muted: #b8b3bd;
$muted-gray: #607d79;
// $dark-lighter: #2b3035;
$dark-lighter: #343a40;
// $dark: #12111a;
$dark: #212529;
$dark-darker: #121416;
$dropdown-link-hover-bg: $primary;
$dropdown-link-color: $light;
$nav-tabs-link-active-color: var(--color-text);
$nav-tabs-link-active-bg: var(--color-surface-darker);
$nav-tabs-border-radius: var(--bs-border-radius-sm);
$nav-link-color: $primary;
$nav-link-hover-color: $primary;

@import "../../node_modules/bootstrap/scss/bootstrap";