body {
    display: flex;
    flex-direction: column;
    background-color: white;
    background-size: cover;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    font-family: IBM Plex Mono;
    background-color: rgba(0, 0, 0, 0.647);
    width: 100%;
    justify-content: space-between;
    position: absolute;
}

.head1 {
    display: flex;
    flex-direction: row;
    color: white;
}

.head1 p {
    font-weight: 500;
    margin-left: 10px;
}

.head1 img {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.head2 {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
}

.head2 div a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
}

.head2 div a:hover {
    border-bottom: solid white 2px;
    
}

.active {
    border-bottom: solid #009a86 2px;
}

.head3 {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
}

.head3 div .apply {
    background-color: #043b32;
    border: solid #009a86 2px;
    border-radius: 10px;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 20px;
    font-family: IBM Plex Mono;
    font-weight: 500;
    margin-right: 10px;
    text-decoration: none;
}

.head3 div .vtc {
    background-color: #043b32;
    border: solid #009a86 2px;
    border-radius: 10px;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 20px;
    font-family: IBM Plex Mono;
    font-weight: 500;
    margin-right: 20px;
    text-decoration: none;
}

.head3 a:hover {
    cursor: pointer;
}

.home-img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: 50% 30%;
}

h1 {
    font-family: IBM Plex Mono;
    color: #009a86;
    text-align: center;
}

.banner-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 33%;
}

.social-home {
    position: absolute;
    top: 40%;
    left: 75%;
    color: white;
    font-family: IBM Plex Mono;
}

.social-home h1 {
    color: white;
}

.social-home a {
    text-decoration: none;
    font-family: IBM Plex Mono;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.social-home button {
    background-color: #009a86;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 10px;
}