header {
    font-family: IBM Plex Mono;
    background-color: rgba(0, 0, 0, 0.647);
}

.head1 img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.head1 p {
    font-weight: 500;
    margin-left: 10px;
}

.head2 div a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    margin-left: 15px;
    margin-right: 15px;
}

.head2 div a:hover {
    border-bottom: solid white 2px;
    
}

.active {
    border-bottom: solid #009a86 2px;
}

.head3 div .apply {
    background-color: #043b32;
    border: solid #009a86 2px;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 20px;
    font-family: IBM Plex Mono;
    font-weight: 500;
    margin-right: 10px;
    text-decoration: none;
}

.head3 div .vtc {
    background-color: #043b32;
    border: solid #009a86 2px;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 20px;
    font-family: IBM Plex Mono;
    font-weight: 500;
    margin-right: 20px;
    text-decoration: none;
}