@use '../variables' as *;

#method-dropdown .dropdown-toggle::after,
.message-type-dropdown .dropdown-toggle::after {
  content: none;
}

select,
::picker(select) {
  appearance: base-select !important;
}

::picker(select) {
  border: none;
}

[data-bs-theme="dark"] {
  ::picker-icon {
    content: url('/assets/icons/dark/angle-down-solid-full.svg');
    transition: 0.4s rotate;
    width: 24px;
    height: 24px;
    content-visibility: visible;
  }
}

[data-bs-theme="light"] {
  ::picker-icon {
    content: url('/assets/icons/light/angle-down-solid-full.svg');
    transition: 0.4s rotate;
    width: 24px;
    height: 24px;
    content-visibility: visible;
  }
}

select:open::picker-icon {
  rotate: 180deg;
}

.form-select {
  --bs-form-select-bg-img: none !important;
  padding: 6px 12px;
}

option {
  background-color: var(--color-surface-darker);
  &:hover {
    background-color: $primary-hover;
  }
  &::checkmark {
    display: none;
  }
  &:focus {
    background-color: $primary-active;
  }
}

option:first-of-type {
  border-radius: 0.25rem 0.25rem 0 0;
}

option:last-of-type {
  border-radius: 0 0 0.25rem 0.25rem;
}