.table-stats {
  white-space: nowrap;
  min-width: 1300px;
}

.table-stats thead th:first-child {
  border-radius: var(--bs-border-radius-sm) 0 0 var(--bs-border-radius-sm);
}

.table-stats thead th:last-child {
  border-radius: 0 var(--bs-border-radius-sm) var(--bs-border-radius-sm) 0;
}