$primary: #009a86;
$secondary: #043b32;
$info: #5865f2;
$light: whitesmoke;
$nav-link-font-weight: 500;
$nav-link-font-size: 17px;
$btn-padding-y: 10px;
$btn-padding-x: 20px;
$btn-border-radius: 8px;
$btn-transition: 0.5s ease;
$btn-font-weight: 500;
$input-focus-box-shadow: none;
$input-font-weight: 500;
$input-focus-border-color: #495057;
$nav-tabs-link-active-color: $primary;
$nav-tabs-border-color: $primary;

/* default styling */

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.navbar-collapse ul li:hover {
  border-bottom: solid $light 2px;
}

.active {
  border-bottom: solid $primary 2px;
}

.padding-icon {
  padding: 12px 10px;
}

.padding-tiktok {
  padding: 12px 13px;
}

.nav-tabs li a,
.nav-tabs li a:hover {
  color: $light;
}

.btn:hover,
.btn:focus {
  color: $light !important;
  border-color: $primary !important;
  background-color: #009a86 !important;
  text-shadow: 0 0 5px $light, 0 0 10px $light, 0 0 20px $light !important;
}

.bi-person-circle {
  font-size: 80px
}

.background {
  background-image: url(../media/Bright2.jpg);
  background-size: cover;
}

.nav-item {
  margin: 0 .5rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $light;
}
 
::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 5px;
}

/* Mobile-specific styling */
@media (max-width: 991px) {
  .navbar-collapse {
    padding: 10px;
    border-radius: 10px;
  }

  .navbar-nav {
    text-align: center;
  }

  .navbar-nav > .nav-item {
    padding: 10px 0;
    background-color: rgb(55, 55, 55);
    margin: 2px 0;
  }

  .navbar-buttons {
    display: flex;
    margin-top: 15px;
    text-align: center;
    justify-content: center;
  }

  .navbar-buttons a {
    width: 100%;
    text-align: center;
    padding: 8px 0 !important;
  }

  .navbar-buttons a:last-child {
    margin-right: 0 !important;
  }

  .active {
    border: none;
  }

  .footer2 div {
    flex-direction: column;
  }

  .driver {
    flex-direction: column !important;
  }

  .mobile {
    flex-direction: column !important;
    align-items: center !important;
  }
}

/* index.html styling */

.custom-img {
  height: calc(100vh - 76px) !important;
}

/* Desktop */

.overlay {
  top: 5%;
  right: 13%;
}

/* Mobile */

@media (max-width: 576px) {
  .overlay {
    top: 30%;
    left: 15%;
  }

  .overlay>h2 {
    font-size: 27px;
  }

  .overlay a {
    padding: 8px 12px;
    font-size: 18px;
  }
}

/* Ipad wide */

@media (min-width: 992px) and (max-width: 1200px) {
  .overlay {
    top: 12%;
    right: 7%;
  }

  .overlay>h2 {
    font-size: 25px;
  }

  .overlay a {
    padding: 8px 12px;
  }
}

/* Ipad high */

@media (min-width: 768px) and (max-width: 992px) {
  .overlay {
    top: 27%;
    right: 23%;
  }
}

/* /events styling */

.banner-img {
  height: calc(100vh - 76px) !important;
  object-position: 50% 33%;
}

.title {
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  margin-inline: auto;
  width: fit-content;
}

.title h1 {
  font-size: 50px;
}

.w-fit-content {
  width: fit-content;
}

/* /team styling */

.wh-150 {
  width: 150px;
  height: 150px;
}

.team div div div div {
  width: 300px;
  height: 300px;
}

.founder {
  color: #009a86;
}

.ceo {
  color: #ffdd00;
}

.cao {
  color: #00f867;
}

.coo {
  color: #00e1ff;
}

.cm {
  color: #ff0e0e;
}

.hrd,
.hr {
  color: #05493a;
}

.rtd,
.rt {
  color: #ff00a1;
}

.etm,
.et {
  color: #0ba500;
}

.mtm,
.mt {
  color: #dd00ff;
}

.ccm,
.cc {
  color: #ccff00;
}

/* gallery.html styling */

.mw-340 {
  max-width: 340px;
}

/* contact-us.html styling */

.text-gray {
  color: gray;
}

/* login.php styling */

.main {
  height: 88vh;
}

/* drivershub.php styling */

table {
  width: 100%;
  min-width: 1595px;
  border-collapse: collapse;
}

@media (max-width: 1678px) {
  .scroll {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-track {
  background: #494949;
}

.hidden {
  display: none;
}

.left-20 {
  left: 20%
}

.left-37 {
  left: 37%
}

.w-206 {
  width: 206.33px;
}

#e0 {
  width: 138px;
}

#e1 {
  width: 159px;
}

#e2 {
  width: 81px;
}

#e3 {
  width: 350px;
}

#e4 {
  width: 350px;
}

#e5 {
  width: 275px;
}

#e6 {
  width: 120px;
}

#e7 {
  width: 122px;
}

#tableHeader > th, #container > tr > td {
  padding: 10px 21px;
}

#container > tr td {
  width: fit-content;
  height: fit-content;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,$secondary 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,$secondary);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}

/* show password styling */

.input-box {
  display: flex;
  align-items: center;
  border: solid #dee2e6 1px;
  border-radius: 6px;
}

.input-box input {
  width: 100%;
  border: 0;
}

.input-box img {
  width: 25px;
  cursor: pointer;
  margin-right: 1%;
}

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";