<div class="container-fluid w-100 px-0">
	<div class="row mx-3">
		<div class="col-12 col-md-6 footer1 my-3">
			<div class="d-flex align-items-center mb-3">
				<a class="d-flex flex-row text-decoration-none color-light" href="/">
					<img
						class="rounded-circle me-2"
						src="/assets/images/ppls_logo.png"
						alt="PPL Solutions Logo"
						width="50"
						height="50" />
					<h3 class="my-auto text-light fw-600">PPL Solutions VTC</h3>
				</a>
			</div>
			<p class="fs-5">
				Founded on 7 September 2024, our goal is to create a community where people can connect and enjoy
				trucking together.
			</p>
			<div>
				<a href="https://discord.gg/mnKcKwsYm4" target="_blank" class="text-light me-1"
					><i class="fa-brands fs-4 fa-discord bg-info rounded-circle padding-icon mt-2"></i
				></a>
				<a href="https://www.tiktok.com/@pplsolutionsvtc" target="_blank" class="text-light"
					><i class="fa-brands fs-4 fa-tiktok bg-black padding-tiktok rounded-circle"></i
				></a>
				<a href="https://truckersmp.com/vtc/74455" target="_blank" class="text-light"
					><i class="fa-solid fs-4 fa-truck bg-black padding-icon rounded-circle"></i
				></a>
			</div>
		</div>
		<div class="col-12 col-md-6 footer2 my-3">
			<div class="d-flex">
				<div id="pages" class="col-12 col-lg-4">
					<h3 class="fw-600">Pages</h3>
					<ul class="list-unstyled p-0 fs-5">
						<li>
							<a class="text-light text-decoration-none" href="/"
								><i class="fa-solid fa-angle-right"></i> <span>Home</span></a
							>
						</li>
						<li>
							<a class="text-light text-decoration-none" href="/events"
								><i class="fa-solid fa-angle-right"></i> <span>Events</span></a
							>
						</li>
						<li>
							<a class="text-light text-decoration-none" href="/team"
								><i class="fa-solid fa-angle-right"></i> <span>Team</span></a
							>
						</li>
						<li>
							<a class="text-light text-decoration-none" href="/gallery"
								><i class="fa-solid fa-angle-right"></i> <span>Gallery</span></a
							>
						</li>
						<li>
							<a class="text-light text-decoration-none" href="/contact"
								><i class="fa-solid fa-angle-right"></i> <span>Contact Us</span></a
							>
						</li>
					</ul>
				</div>
				<div class="col-12 col-lg-8 fs-5">
					<ul class="nav nav-tabs justify-content-center w-100 border-0" id="footerTabs" role="tablist">
						<li class="nav-item m-0 w-50" role="presentation">
							<a
								class="nav-link active text-center m-0 h-100 d-flex justify-content-center align-items-center border-0"
								id="home-tab"
								data-bs-toggle="pill"
								href="#links"
								role="tab"
								aria-controls="home"
								aria-selected="true"
								>Other links</a
							>
						</li>
						<li class="nav-item m-0 w-50" role="presentation">
							<a
								class="nav-link text-center m-0 h-100 d-flex justify-content-center align-items-center border-0"
								id="contact-tab"
								data-bs-toggle="pill"
								href="#message"
								role="tab"
								aria-controls="contact"
								aria-selected="false"
								>Message</a
							>
						</li>
					</ul>
					<div class="tab-content mt-4" id="footerTabsContent">
						<div class="tab-pane fade show active" id="links" role="tabpanel" aria-labelledby="home-tab">
							<ul class="list-unstyled">
								<li>
									<a class="text-light text-decoration-none" href="/login"
										><i class="fa-solid fa-angle-right"></i> <span>Drivershub</span></a
									>
								</li>
								<li>
									<a class="text-light text-decoration-none" href="/apply"
										><i class="fa-solid fa-angle-right"></i> <span>Apply</span></a
									>
								</li>
								<li>
									<a
										class="text-light text-decoration-none"
										href="https://truckersmp.com/vtc/74455"
										target="_blank"
										><i class="fa-solid fa-angle-right"></i> <span>VTC</span></a
									>
								</li>
							</ul>
						</div>
						<div class="tab-pane fade" id="message" role="tabpanel" aria-labelledby="contact-tab">
							<p>
								Hello there traveler, My name is <strong>Wietsegaming</strong>. Welcome on the website
								of the Virtual Trucking Company: <strong>PPL Solutions</strong>, we stand for driver
								comfort and the fun in doing great things together.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<p class="border-top border-light pt-3 mb-0">
			<i class="bi bi-c-circle"></i> Copyright 2025 <strong>PPL Solutions.</strong> All rights Reserved |
			Developed by
			<strong><a class="text-decoration-none author" href="https://simpelcity.github.io">Wietsegaming</a></strong>
		</p>
	</div>
</div>
