@use "../variables" as *;

.btn-primary {
  &:hover {
    background-color: $primary-hover !important;
    border-color: $primary-hover !important;
  }
  &:active {
    background-color: $primary-active !important;
    border-color: $primary-active !important;
  }
}

.btn-secondary {
  background-color: var(--color-secondary) !important;
  &:hover {
    background-color: $secondary-hover !important;
    border-color: $secondary-hover !important;
  }
  &:active {
    background-color: $secondary-active !important;
    border-color: $secondary-active !important;
  }
}

.btn-outline {
  &:hover {
    background-color: $primary-hover !important;
    border-color: $primary-hover !important;
    color: $light !important;
  }
  &:active {
    background-color: $primary-active !important;
    border-color: $primary-active !important;
    color: $light !important;
  }
}

.btn-transparent {
  background-color: transparent !important;
  border: none !important;
  text-decoration: none !important;
  &:hover {
    background-color: transparent !important;
    border-color: transparent !important;
  }
  &:active {
    background-color: transparent !important;
    border-color: transparent !important;
  }
}