@use "sass:math";
@use "../variables" as *;

.primary-link {
  color: $primary;
  transition: color 0.2s ease;
  &:hover {
    color: $primary-hover !important;
  }
  &:focus {
    color: $primary-active !important;
  }
}

.navbar-link > span {
  transition: color 0.2s ease;

  @media (min-width: 1200px) {
    &:hover {
      border-bottom: solid 2px var(--color-text);
    }
    &:active {
      border-bottom: solid 2px $primary;
    }
  }
}

.navbar-link {
  @media (max-width: 576px) {
    padding: 1rem 0 !important;
    background-color: var(--color-surface-darker) !important;
    border-radius: 0.25rem;
    &:active {
      border-bottom: solid 2px $primary;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }
}

.navbar-link.active > span {
  border-bottom: solid 2px $primary !important;

  @media (max-width: 576px) {
    border: 0 !important;
  }
}

.navbar-link.active {
  @media (max-width: 576px) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: solid 2px $primary !important;
  }
}

.drivershub-nav .navbar-link {
  padding: 1rem 0 !important;
  background-color: var(--color-surface-darker) !important;
  border-radius: 0.25rem;
  &:active {
    border-bottom: solid 2px $primary;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}

.drivershub-nav .navbar-link.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: solid 2px $primary !important;
}

.drivershub-nav .navbar-link.active > span {
  border: 0 !important;
}

.transparent-link {
  color: transparent;
  transition: color 0.2s ease;
}

.light-link {
  color: $light;
  transition: color 0.2s ease;
}

.sidebar-link {
  color: $light !important;
  transition: color 0.2s ease;
  &:hover {
    color: $light;
    background-color: rgba($light, 0.1);
  }
}

.footer-link {
  width: min-content !important;
}

.footer-link > span {
  &:hover {
    color: $primary-hover;
    font-weight: bold;
  }
  &:active {
    color: $primary-active;
  }
}

.discord-link {
  color: hsl(215.514, calc(1*80.995%), math.div(56.667%, 1)) !important;
  &:hover {
    text-decoration: underline !important;
  }
}