@use "../variables" as *;

.btn:disabled {
  pointer-events: all !important;
  color: var(--color-text) !important;
  cursor: not-allowed !important;
}

.navbar .btn-link:hover {
  background-color: transparent !important;
  border: none !important;
}

.sidebar .btn:hover {
  background-color: transparent !important;
  border: none !important;
}

#dropdown-split-basic:hover {
  background-color: $primary-hover !important;
  border: solid 1px $primary-hover !important;
}

#dropdown-split-basic.show {
  background-color: $primary-active !important;
  border: solid 1px $primary-active !important;
}

.btn-file {
  max-height: 36px;
}

.btn-outline-primary {
  &:hover {
    color: $light !important;
  }
  &:active {
    color: $light !important;
  }
}

.btn-outline-warning {
  &:hover {
    color: $light !important;
  }
  &:active {
    color: $light !important;
  }
}